<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
  <meta charset="UTF-8"/>
  <title>{{ title }}</title>
  <base href="{{ base }}"/>
  <link href="{{ bootstrap_css }}" type="text/css" rel="stylesheet"/>
  <link href="{{ icons }}" type="text/css" rel="stylesheet"/>
  <script src="{{ jquery }}" ></script>
  <script src="{{ bootstrap_js }}" ></script>
  <link href="{{ stylesheet }}" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="container">
  {% for order in orders %}
    <div style="page-break-after: always;">
      <h1>{{ text_dispatch_note }} #{{ order.order_id }}</h1>

      <div class="row">
        <!-- Grouped Order and Store Details -->
        <div class="col-md-6">
          <div class="form-control-plaintext p-0 border rounded mb-3">
            <div class="lead p-2">
              <strong>{{ text_order_details }}</strong>
              <ul class="list-unstyled mb-0">
                <li><strong>{{ text_order_id }}:</strong> {{ order.order_id }}</li>
                <li><strong>{{ text_invoice }}:</strong> {% if order.invoice_no %}{{ order.invoice_no }}{% else %}N/A{% endif %}</li>
                <li><strong>{{ text_date_added }}:</strong> {{ order.date_added }}</li>
                <li><strong>{{ text_shipping_method }}:</strong> {{ order.shipping_method }}</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-control-plaintext p-0 border rounded mb-3">
            <div class="lead p-2">
              <strong>{{ text_store_details }}</strong>
              <ul class="list-unstyled mb-0">
                <li><strong>{{ text_store }}:</strong> {{ order.store_name }}</li>
                <li><strong>{{ text_store_telephone }}:</strong> {{ order.store_telephone }}</li>
                <li><strong>{{ text_store_email }}:</strong> {{ order.store_email }}</li>
                <li><strong>{{ text_store_address }}:</strong> {{ order.store_address }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
    

        <div class="col-md-6">
          <div class="form-control-plaintext p-0 border rounded mb-3">
            <div class="lead p-2">
              <strong>{{ text_shipping_address }}</strong>
              <br> {% if order.email %}{{ order.email }}{% else %}N/A{% endif %} 
              <p class="mb-0">{% if order.shipping_address %}{{ order.shipping_address }}{% else %}N/A{% endif %}
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Product Details -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <td><b>{{ column_location }}</b></td>
            <td><b>{{ column_reference }}</b></td>
            <td><b>{{ column_product }}</b></td>
            <td><b>{{ column_weight }}</b></td>
            <td><b>{{ column_model }}</b></td>
            <td class="text-end"><b>{{ column_quantity }}</b></td>
          </tr>
        </thead>
        <tbody>
          {% for product in order.product %}
            <tr>
              <td>{{ product.location }}</td>
              <td>
                {% if product.sku %}{{ text_sku }} {{ product.sku }}<br/>{% endif %}
                {% if product.upc %}{{ text_upc }} {{ product.upc }}<br/>{% endif %}
                {% if product.ean %}{{ text_ean }} {{ product.ean }}<br/>{% endif %}
                {% if product.jan %}{{ text_jan }} {{ product.jan }}<br/>{% endif %}
                {% if product.isbn %}{{ text_isbn }} {{ product.isbn }}<br/>{% endif %}
                {% if product.mpn %}{{ text_mpn }} {{ product.mpn }}<br/>{% endif %}
              </td>
              <td>{{ product.name }}
                {% for option in product.option %}
                  <br/><small> - {{ option.name }}: {{ option.value }}</small>
                {% endfor %}
                {% if product.reward %}
                  <br/><small> - {{ text_points }} {{ product.reward }}</small>
                {% endif %}
              </td>
              <td>{{ product.weight }}</td>
              <td>{{ product.model }}</td>
              <td class="text-end">{{ product.quantity }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <!-- Optional Comments Section -->
      {% if order.comment %}
        <table class="table table-bordered">
          <thead>
            <tr>
              <td><b>{{ text_comment }}</b></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ order.comment }}</td>
            </tr>
          </tbody>
        </table>
      {% endif %}
    </div>
  {% endfor %}
</div>
</body>
</html>
