
         
    <fieldset>
      <legend>{{ text_model }}</legend>
      <div class="row mb-3 required">
        <label for="input-model" class="col-sm-2 col-form-label">{{ entry_model }}</label>
        <div class="col-sm-10">
          <div class="input-group">
            <input type="text" name="model" value="{{ model }}" placeholder="{{ entry_model }}" id="input-model" class="form-control"/>
      
          </div>
          <div id="error-model" class="invalid-feedback"></div>
        </div>
      </div>
      <div class="row mb-3 required">
        <label for="input-sku" class="col-sm-2   col-form-label">{{ entry_sku }}</label>
        <div class="col-sm-10">
          <div class="input-group">
            <input type="text" name="sku" value="{{ sku }}" placeholder="{{ entry_sku }}" id="input-sku" class="form-control"/>
    
          </div>
          <div class="form-text">{{ help_sku }}</div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="input-upc" class="col-sm-2 col-form-label">{{ entry_upc }}</label>
        <div class="col-sm-10">
          <div class="input-group">
            <input type="text" name="upc" value="{{ upc }}" placeholder="{{ entry_upc }}" id="input-upc" class="form-control"/>
       
          </div>
          <div class="form-text">{{ help_upc }}</div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="input-ean" class="col-sm-2 col-form-label">{{ entry_ean }}</label>
        <div class="col-sm-10">
          <div class="input-group">
            <input type="text" name="ean" value="{{ ean }}" placeholder="{{ entry_ean }}" id="input-ean" class="form-control"/>
       
          </div>
          <div class="form-text">{{ help_ean }}</div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="input-jan" class="col-sm-2 col-form-label">{{ entry_jan }}</label>
        <div class="col-sm-10">
          <div class="input-group">
            <input type="text" name="jan" value="{{ jan }}" placeholder="{{ entry_jan }}" id="input-jan" class="form-control"/>
     
          </div>
          <div class="form-text">{{ help_jan }}</div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="input-isbn" class="col-sm-2 col-form-label">{{ entry_isbn }}</label>
        <div class="col-sm-10">
          <div class="input-group">
            <input type="text" name="isbn" value="{{ isbn }}" placeholder="{{ entry_isbn }}" id="input-isbn" class="form-control"/>
     
          </div>
          <div class="form-text">{{ help_isbn }}</div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="input-mpn" class="col-sm-2 col-form-label">{{ entry_mpn }}</label>
        <div class="col-sm-10">
          <div class="input-group">
            <input type="text" name="mpn" value="{{ mpn }}" placeholder="{{ entry_mpn }}" id="input-mpn" class="form-control"/>
    
          </div>
          <div class="form-text">{{ help_mpn }}</div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="input-location" class="col-sm-2 col-form-label">{{ entry_location }}</label>
        <div class="col-sm-10">
          <div class="input-group">
            <input type="text" name="location" value="{{ location }}" placeholder="{{ entry_location }}" id="input-location" class="form-control"/>
     
          </div>
        </div>
      </div>
    </fieldset>
   
      <legend>{{ text_stock }}</legend>
      <div class="row mb-3">
        <label for="input-quantity" class="col-sm-2 col-form-label">{{ entry_quantity }}</label>
        <div class="col-sm-10">
          <input type="text" name="quantity" value="{{ quantity }}" placeholder="{{ entry_quantity }}" id="input-quantity" class="form-control"/>
        </div>
      </div>
      <div class="row mb-3">
        <label for="input-minimum" class="col-sm-2 col-form-label">{{ entry_minimum }}</label>
        <div class="col-sm-10">
          <div class="input-group">
            <input type="text" name="minimum" value="{{ minimum }}" placeholder="{{ entry_minimum }}" id="input-minimum" class="form-control"/>
        
          </div>
          <div class="form-text">{{ help_minimum }}</div>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-2 col-form-label">{{ entry_subtract }}</label>
        <div class="col-sm-10">

          <div class="input-group">

            <div id="input-subtract" class="form-check form-switch form-switch-lg">
              <input type="hidden" name="subtract" value="0"/> <input type="checkbox" name="subtract" value="1" class="form-check-input"{% if subtract %} checked{% endif %}/>
            </div>

       

          </div>

        </div>
      </div>
      <div class="row mb-3">
        <label for="input-stock-status" class="col-sm-2 col-form-label">{{ entry_stock_status }}</label>
        <div class="col-sm-10">
          <div class="input-group">
            <select name="stock_status_id" id="input-stock-status" class="form-select">
              {% for stock_status in stock_statuses %}
                <option value="{{ stock_status.stock_status_id }}"{% if stock_status.stock_status_id == stock_status_id %} selected{% endif %}>{{ stock_status.name }}</option>
              {% endfor %}
            </select>
        
          </div>
          <div class="form-text">{{ help_stock_status }}</div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="input-date-available" class="col-sm-2 col-form-label">{{ entry_date_available }}</label>
        <div class="col-sm-10 col-md-4">
          <div class="input-group">
            <input type="text" name="date_available" value="{{ date_available }}" placeholder="{{ entry_date_available }}" id="input-date-available" class="form-control date"/>
            <div class="input-group-text"><i class="fa-regular fa-calendar"></i></div>
        
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>{{ text_specification }}</legend>
      <div class="row mb-3">
        <label class="col-sm-2 col-form-label">{{ entry_shipping }}</label>
        <div class="col-sm-10">
          <div class="input-group">

            <div id="input-shipping" class="form-check form-switch form-switch-lg">
              <input type="hidden" name="shipping" value="0"/> <input type="checkbox" name="shipping" value="1" class="form-check-input"{% if shipping %} checked{% endif %}/>
            </div>

        
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="input-length" class="col-sm-2 col-form-label">{{ entry_dimension }}</label>
        <div class="col-sm-10">
          <div class="input-group">
            <input type="text" name="length" value="{{ length }}" placeholder="{{ entry_length }}" id="input-length" class="form-control"/>
      
            <input type="text" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control"/>
         
            <input type="text" name="height" value="{{ height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control"/>
      
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="input-length-class" class="col-sm-2 col-form-label">{{ entry_length_class }}</label>
        <div class="col-sm-10">
          <div class="input-group">
            <select name="length_class_id" id="input-length-class" class="form-select">
              {% for length_class in length_classes %}
                <option value="{{ length_class.length_class_id }}"{% if length_class.length_class_id == length_class_id %} selected{% endif %}>{{ length_class.title }}</option>
              {% endfor %}
            </select>
         
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="input-weight" class="col-sm-2 col-form-label">{{ entry_weight }}</label>
        <div class="col-sm-10">
          <div class="input-group">
            <input type="text" name="weight" value="{{ weight }}" placeholder="{{ entry_weight }}" id="input-weight" class="form-control"/>
         
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="input-weight-class" class="col-sm-2 col-form-label">{{ entry_weight_class }}</label>
        <div class="col-sm-10">
          <div class="input-group">
            <select name="weight_class_id" id="input-weight-class" class="form-select">
              {% for weight_class in weight_classes %}
                <option value="{{ weight_class.weight_class_id }}"{% if weight_class.weight_class_id == weight_class_id %} selected{% endif %}>{{ weight_class.title }}</option>
              {% endfor %}
            </select>
        
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
        <div class="col-sm-10">
          <div class="input-group">
            <div class="form-check form-switch form-switch-lg">
              <input type="hidden" name="status" value="0"/> <input type="checkbox" name="status" value="1" id="input-status" class="form-check-input"{% if status %} checked{% endif %}/>
            </div>
     
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="input-sort-order" class="col-sm-2 col-form-label">{{ entry_sort_order }}</label>
        <div class="col-sm-10">
          <div class="input-group">
            <input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control"/>
        
          </div>
        </div>
      </div>
    </fieldset>
 <!-- JS is retained in product_form -->