 
    <ul class="nav nav-tabs">
      {% for language in languages %}
        <li class="nav-item"><a href="#language-{{ language.language_id }}" data-bs-toggle="tab" class="nav-link{% if loop.first %} active{% endif %}"><img src="{{ language.image }}" title="{{ language.name }}"/> {{ language.name }}</a></li>
      {% endfor %}
    </ul>
    <div class="tab-content">
      {% for language in languages %}
        <div id="language-{{ language.language_id }}" class="tab-pane{% if loop.first %} active{% endif %}">
          <div class="row mb-3 required">
            <label for="input-name-{{ language.language_id }}" class="col-sm-2 col-form-label">{{ entry_name }}</label>
            <div class="col-sm-10">
              <div class="input-group">
                <input type="text" name="product_description[{{ language.language_id }}][name]" value="{{ product_description[language.language_id] ? product_description[language.language_id].name }}" placeholder="{{ entry_name }}" id="input-name-{{ language.language_id }}" class="form-control"/>
        
              </div>
              <div id="error-name-{{ language.language_id }}" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-description-{{ language.language_id }}" class="col-sm-2 col-form-label">{{ entry_description }}</label>
            <div class="col-sm-10">
              <div class="input-group">
                <div class="form-control h-100 p-0 border-0 rounded-0">
                  <textarea name="product_description[{{ language.language_id }}][description]" placeholder="{{ entry_description }}" id="input-description-{{ language.language_id }}" data-oc-toggle="ckeditor" data-lang="{{ ckeditor }}" class="w-100 position-relative">{{ product_description[language.language_id] ? product_description[language.language_id].description }}</textarea>
                </div>
           
              </div>
            </div>
          </div>
          <div class="row mb-3 required">
            <label for="input-meta-title-{{ language.language_id }}" class="col-sm-2 col-form-label">{{ entry_meta_title }}</label>
            <div class="col-sm-10">
              <div class="input-group">
                <input type="text" name="product_description[{{ language.language_id }}][meta_title]" value="{{ product_description[language.language_id] ? product_description[language.language_id].meta_title }}" placeholder="{{ entry_meta_title }}" id="input-meta-title-{{ language.language_id }}" class="form-control"/>
         
              </div>
              <div id="error-meta-title-{{ language.language_id }}" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-meta-description-{{ language.language_id }}" class="col-sm-2 col-form-label">{{ entry_meta_description }}</label>
            <div class="col-sm-10">
              <div class="input-group">
                <textarea name="product_description[{{ language.language_id }}][meta_description]" rows="5" placeholder="{{ entry_meta_description }}" id="input-meta-description-{{ language.language_id }}" class="form-control">{{ product_description[language.language_id] ? product_description[language.language_id].meta_description }}</textarea>
      
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-meta-keyword-{{ language.language_id }}" class="col-sm-2 col-form-label">{{ entry_meta_keyword }}</label>
            <div class="col-sm-10">
              <div class="input-group">
                <textarea name="product_description[{{ language.language_id }}][meta_keyword]" rows="5" placeholder="{{ entry_meta_keyword }}" id="input-meta-keyword-{{ language.language_id }}" class="form-control">{{ product_description[language.language_id] ? product_description[language.language_id].meta_keyword }}</textarea>
             
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-tag-{{ language.language_id }}" class="col-sm-2 col-form-label">{{ entry_tag }}</label>
            <div class="col-sm-10">
              <div class="input-group">
                <input type="text" name="product_description[{{ language.language_id }}][tag]" value="{{ product_description[language.language_id] ? product_description[language.language_id].tag }}" placeholder="{{ entry_tag }}" id="input-tag-{{ language.language_id }}" class="form-control"/>
       
              </div>
              <div class="form-text">{{ help_tag }}</div>
            </div>
          </div>

          <div id="product-seo" class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td class="text-start">{{ entry_store }}</td>
                  <td class="text-start">{{ entry_keyword }}</td>
                </tr>
              </thead>
              <tbody>
                {% for store in stores %}
                  <tr>
                    <td class="text-start">{{ store.name }}</td>
                    <td class="text-start">
     
                        <div class="input-group">
                          <div class="input-group-text"><img src="{{ language.image }}" title="{{ language.name }}"/></div>
                          <input type="text" name="product_seo_url[{{ store.store_id }}][{{ language.language_id }}]" value="{% if product_seo_url[store.store_id][language.language_id] %}{{ product_seo_url[store.store_id][language.language_id] }}{% endif %}" id="input-keyword-{{ store.store_id }}-{{ language.language_id }}" placeholder="{{ entry_keyword }}" class="form-control seoinput"/>
                        </div>
                        <div id="error-keyword-{{ store.store_id }}-{{ language.language_id }}" class="invalid-feedback"></div>
            
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>


        </div>

      {% endfor %}
    </div>
<!-- JS is retained in product_form -->