
 
    <div class="table-responsive">
      <table id="product-subscription" class="table table-bordered table-hover">
        <thead>
          <tr>
            <td class="text-start">{{ entry_subscription }}</td>
            <td class="text-start">{{ entry_customer_group }}</td>
            <td class="text-start">{{ entry_trial_price }}</td>
            <td class="text-start">{{ entry_price }}</td>
            <td>
        
            </td>
          </tr>
        </thead>
        <tbody>
          {% set subscription_row = 0 %}
          {% for product_subscription in product_subscriptions %}
            <tr id="subscription-row-{{ subscription_row }}">
              <td class="text-start"><select name="product_subscription[{{ subscription_row }}][subscription_plan_id]" class="form-select">
                  {% for subscription_plan in subscription_plans %}
                    <option value="{{ subscription_plan.subscription_plan_id }}"{% if subscription_plan.subscription_plan_id == product_subscription.subscription_plan_id %} selected{% endif %}>{{ subscription_plan.name }}</option>
                  {% endfor %}
                </select></td>
              <td class="text-start"><select name="product_subscription[{{ subscription_row }}][customer_group_id]" class="form-select">
                  {% for customer_group in customer_groups %}
                    <option value="{{ customer_group.customer_group_id }}"{% if customer_group.customer_group_id == product_subscription.customer_group_id %} selected{% endif %}>{{ customer_group.name }}</option>
                  {% endfor %}
                </select></td>
              <td class="text-start"><input type="text" name="product_subscription[{{ subscription_row }}][trial_price]" value="{{ product_subscription.trial_price }}" placeholder="{{ entry_trial_price }}" class="form-control"/></td>
              <td class="text-start"><input type="text" name="product_subscription[{{ subscription_row }}][price]" value="{{ product_subscription.price }}" placeholder="{{ entry_price }}" class="form-control"/></td>
              <td class="text-end"><button type="button" onclick="$('#subscription-row-{{ subscription_row }}').remove()" data-bs-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa-solid fa-minus-circle"></i></button></td>
            </tr>
            {% set subscription_row = subscription_row + 1 %}
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4"></td>
            <td class="text-end"><button type="button" id="button-subscription" data-bs-toggle="tooltip" title="{{ button_subscription_add }}" class="btn btn-primary"><i class="fa-solid fa-plus-circle"></i></button></td>
          </tr>
        </tfoot>
      </table>
    </div>
 <script>
    var subscription_row = {{ subscription_row }};

$('#button-subscription').on('click', function () {
    html = '<tr id="subscription-row-' + subscription_row + '">';
    html += '  <td class="text-start"><select name="product_subscription[' + subscription_row + '][subscription_plan_id]" class="form-select">';
  {% for subscription_plan in subscription_plans %}
    html += '      <option value="{{ subscription_plan.subscription_plan_id }}">{{ subscription_plan.name|escape('js') }}</option>';
  {% endfor %}
    html += '  </select></td>';
    html += '  <td class="text-start"><select name="product_subscription[' + subscription_row + '][customer_group_id]" class="form-select">';
  {% for customer_group in customer_groups %}
    html += '      <option value="{{ customer_group.customer_group_id }}">{{ customer_group.name|escape('js') }}</option>';
  {% endfor %}
    html += '  <select></td>';
    html += '  <td class="text-end"><input type="text" name="product_subscription[' + subscription_row + '][trial_price]" value="" placeholder="{{ entry_trial_price|escape('js') }}" class="form-control"/></td>';
    html += '  <td class="text-end"><input type="text" name="product_subscription[' + subscription_row + '][price]" value="" placeholder="{{ entry_price|escape('js') }}" class="form-control"/></td>';
    html += '  <td class="text-end"><button type="button" onclick="$(\'#subscription-row-' + subscription_row + '\').remove()" data-bs-toggle="tooltip" title="{{ button_remove|escape('js') }}" class="btn btn-danger"><i class="fa-solid fa-minus-circle"></i></button></td>';
    html += '</tr>';

    $('#product-subscription tbody').append(html);

    subscription_row++;
});

    
    
    </script>