<!-- Add Variation Modal -->
<style>
	.variation-option {
		display: inline-block;
		background-color: #f0f0f0;
		border: 1px solid #e1e1e1;
		border-radius: 5px;
		padding: 7px;
		cursor: pointer;
		margin-right: 5px;
	}

	.variation-option:hover {

		background-color: #cecece;
	}

	.variation-option:hover {

		background-color: #cecece;
	}

	.variation-option .name {
		font-weight: bold;
	}

	.separator {
		font-weight: bold;
		margin-right: 5px;
	}

	.radioOption {
		margin: 5px;

	}
</style>
<div id="tab-option" class="tab-pane active show" role="tabpanel">
	<div class="modal fade" id="addVariationModal" tabindex="-1" aria-labelledby="addVariationModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addVariationModalLabel">{{text_add_variation}}</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div
					class="modal-body">
					<!-- Form for adding a new variation or editing an existing -->


					<form id="addVariationForm">
						<input type="hidden" value="0" id="variation_edit_id" name="variation_edit_id">
						<fieldset>
							<div class="mb-3">
								<div class="row  mt-3">
									<div class="col-md-12">
										<label class="form-label" for="variation_price">{{column_price}}</label>
										<input type="text" class="form-control" id="variation_price" name="variation_price" required>
									</div>
								</div>

								<div class="row  mt-3">
									<div class="col-md-12">
										<label class="form-label" for="input_quantity">{{column_quantity}}</label>
										<input type="text" class="form-control" id="input_quantity" name="variation_quantity" required>
									</div>
								</div>

								<div class="row  mt-3">
									<div class="col-md-12">
										<label class="form-label" for="input_quantity">{{column_model}}</label>
										<input type="text" class="form-control" id="input_model" name="variation_model" required>
									</div>
								</div>

								<div class="row mt-3 ">
									<div class="col-md-12">
										<label class="form-label ">{{ entry_subtract }}</label>
										<div
											class="form-check form-switch form-switch-lg">
											<!-- Old times in texas city  <input type="hidden" name="subtract" value="0" />-->
											<input type="checkbox" name="subtract" value="1" class="form-check-input"/>
										</div>
									</div>
								</div>

								<div class="row  mt-3">
									<div class="col-md-12">
										<label class="form-label" for="input_sku">{{entry_sku}}</label>
										<input type="text" id="input_sku" class="form-control" name="variation_sku" required>
									</div>
								</div>

								<div class="form-text">{{help_var_price_notice}}</div>
							</div>
						</fieldset>

						<!-- Display options as a table -->

						<table class="table">
							<thead>
								<tr>
									<th>{{text_options}}</th>
									<th>{{text_option_value}}</th>

								</tr>
							</thead>
							<tbody>
								{% for option in option_data %}
									<tr>
										<td>{{ option.name }}</td>
										<td>
											<!-- Display radio buttons for each option value -->
											{% for option_value in option.product_option_value %}
												<div class="form-check form-check-inline radioOption">
													<label for="opt-{{  option_value.option_value_id }}-{{  option_value.product_option_value_id }}" class="form-check-label">{{ option_value.name }}</label>
													<input class="form-check-input" type="radio" id="opt-{{  option_value.option_value_id }}-{{  option_value.product_option_value_id }}" name="option_value[{{ option.option_id }}]" value="{{ option_value.product_option_value_id }}">

												</div>
											{% endfor %}
											
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						<button class="btn btn-secondary" id="uncheckRadios">Reset</button>
						<hr/>
						<!-- Add Variation button -->
						<button type="submit" class="btn btn-primary">{{entry_save_variation}}</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{button_close}}</button>
      
						
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Main Content -->
	<div class="contain">
		<div class="row">
			<div class="col-12"></div>
		</div>

		<!-- Display existing variations -->
		<div class="row mt-3">
			<div class="col-12">
				<h4>Variations:</h4>

				<!-- Bootstrap-styled form for existing variations -->

				<form id="existingVariationsForm">
					<div class="table-responsive">
						<table style="width: 100%" class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>{{entry_sku}}</th>
									<th>{{column_quantity}}</th>
									<th>{{column_price}}</th>
									<th>{{text_option_value}}</th>
									<th>
										<button title="{{ text_add_variation }}" type="button" class="btn btn-primary addvariationNew" data-bs-toggle="modal" data-bs-target="#addVariationModal">
											<i class="fas fa-plus-circle"></i>
										</button>
									</th>
								</tr>
							</thead>
							{% if existing_variations %}
								<tbody>
									{% for variation in existing_variations %}
										<tr>
											<td>{{ variation.sku }}</td>
											<td>{{ variation.quantity }}</td>
											<td>{{ variation.price_formated }}</td>
											<td>
												<!-- Display options for the variation -->
												{% for option in variation.options %}
													<span class="variation-option">
														<span class="name">{{ option.name }}:</span>
														{{ option.value }}
													</span>
													{% if not loop.last %}
														<span class="separator">+</span>
													{% endif %}
												{% endfor %}
											</td>
											<td>
												<!-- Delete button for each variation -->
												<button data-bs-toggle="tooltip" title="{{ button_delete }}" type="button" class="btn btn-danger delete-variation" data-variation-id="{{ variation.variation_id }}">
													<i class="fas fa-solid fa-minus-circle"></i>
												</button>
												<button data-bs-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary edit-variation" data-variation-id="{{ variation.variation_id }}">
													<i class="fa-solid fa-pencil"></i>
												</button>
												

											</td>
										</tr>
									{% endfor %}
								</tbody>
							{% else %}
								<p>No variations yet for this product.</p>
							{% endif %}
						</table>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>
<script>
    var variations = {{ existing_variations|raw|json_encode }}
$(document).ready(function () {
	$('#uncheckRadios').on('click', function (e) {
		e.preventDefault();
            // Uncheck all radio buttons within the specified container
            $('.radioOption input[type="radio"]').prop('checked', false);
        });

	$('.addvariationNew').click(function (e) {

		// A new variation has an id of 0
		$("#variation_edit_id").val('0');
 
		// Loop through the form elements
		$('#addVariationForm').find(':input').each(function () {
			var elementType = this.type;
			var elementName = this.name;

			// Handle different types of form elements
			switch (elementType) {
				case 'text':
				case 'textarea':
					$(this).val(''); // Set text inputs and textareas to empty
					break;
				case 'checkbox':
				case 'radio':
					$(this).prop('checked', false); // Uncheck checkboxes and radios
					break;
				// Add more cases if needed for other types of form elements
			}
		});
	});
	$('.edit-variation').click(function (e) {
		e.preventDefault();

		var variationId = $(this).data('variation-id');

		// Find the variation in the existing variations array
		var variationToEdit = variations.find(function (variation) {
			return variation.variation_id == variationId;
		});

		// Populate the modal fields with the existing values
		$('#variation_edit_id').val(variationToEdit.variation_id);
		$('#variation_price').val(variationToEdit.price);
		$('#input_quantity').val(variationToEdit.quantity);
		$('#input_model').val(variationToEdit.model);
		$('input[name="subtract"]').prop('checked', variationToEdit.subtract == '1');
		$('#input_sku').val(variationToEdit.sku);


		// Select the radio buttons based on the existing options
		variationToEdit.options_ids.forEach(function (option) {
			var optionId = option.option_id;
			var optionValueId = option.option_value_id;
			//x console.log(optionId)
			//x console.log(optionValueId)
			$('#opt-' + optionValueId + '-' + optionId).prop('checked', true);
		});

		// Show the modal for editing
		$('#addVariationModal').modal('show');
	});

	$('.delete-variation').click(function () {
		var variationId = $(this).data('variation-id');

		// Confirm deletion
		if (confirm('Are you sure you want to delete this variation?')) { // Make Ajax request to delete variation
			$.ajax({
				type: 'POST',
				url: 'index.php?route=catalog/variations.deleteVariation&user_token=   {{ user_token }}&variation_id=' + variationId,
				dataType: 'json',
				success: function (json) {
					if (json['success']) { // Reload variations
						window.loadVariations();
					} else { // Handle error
						alert('Error: ' + json['error']);
					}
				},
				error: function () { // Handle Ajax error
					alert('Ajax request failed');
				}
			});
		}
	});

	$('#addVariationForm').submit(function (e) {
		e.preventDefault();
		// Prevent the form from submitting the traditional way

		// Collect form data
		var formData = $(this).serialize();

		// Submit the form using Ajax
		$.ajax({
			type: 'POST',
			url: 'index.php?route=catalog/variations.savevariations&user_token=   {{ user_token }}&product_id=   {{ product_id }}',
			data: formData,
			dataType: 'json',
			success: function (json) {
				if (json['success']) { // Close the modal
					$('#addVariationModal').modal('hide');

					// Reload variations
					window.loadVariations();
				} else { // Handle error
					alert('Error: ' + json['error']);
				}
			},
			error: function () { // Handle Ajax error
				alert('Ajax request failed');
			}
		});
	});
});
</script>
