{{ header }}{{ column_left }}

 
 
<div id="content">
 
 
  <style>
	.my-handle {
		cursor: grab;
		font-size: 21px;
		cursor: -webkit-grabbing;
		color: #595959;
	}
</style>
  <script type="text/javascript" src="view/javascript/Sortable.min.js"></script>
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-option" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_form }}</div>
      <div class="card-body">
        <form id="form-option" action="{{ save }}" method="post" data-oc-toggle="ajax">
          <fieldset>
            <legend>{{ text_option }}</legend>
            <div class="row mb-3 required">
              <label class="col-sm-2 col-form-label">{{ entry_name }}</label>
              <div class="col-sm-10">
             
                {% for language in languages %}


                {% if options is not empty %}
                    {% for option in options %}
                        {% if option.group_id == 0 and option.language_id == language.language_id or option.option_n == -1 and option.language_id == language.language_id   %}
                        
                        <div class="input-group">
                          <div class="input-group-text"><img src="{{ language.image }}" title="{{ language.name }}"/></div>
                          <input type="text" name="option_description[{{ language.language_id }}][name]" value="{{ option.name ?? '' }}" placeholder="{{ entry_name }}" id="input-name-{{ language.language_id }}" class="form-control"/>
                      </div>
                      <div id="error-name-{{ language.language_id }}" class="invalid-feedback"></div>

                        {% endif %}
                    {% endfor %}
                    {% else %}
                    <div class="input-group">
                      <div class="input-group-text"><img src="{{ language.image }}" title="{{ language.name }}"/></div>
                      <input type="text" name="option_description[{{ language.language_id }}][name]" value="" placeholder="{{ entry_name }}" id="input-name-{{ language.language_id }}" class="form-control"/>
                  </div>
                  <div id="error-name-{{ language.language_id }}" class="invalid-feedback"></div>
{% endif %}
                
                {% endfor %}
              </div>
            </div>
            
            <div class="row mb-3">
              <label for="input-type" class="col-sm-2 col-form-label">{{ entry_type }}</label>
              <div class="col-sm-10">
                <select name="type" id="input-type" class="form-select">
                  <optgroup label="{{ text_choose }}">
                    <option value="radio"{% if type == 'radio' %} selected{% endif %}>{{ text_radio }}</option>
                    <option value="select"{% if type == 'select' %} selected{% endif %}>{{ text_select }}</option>
               
                    <option value="checkbox"{% if type == 'checkbox' %} selected{% endif %}>{{ text_checkbox }}</option>
                  </optgroup>
                  <optgroup label="{{ text_input }}">
                    <option value="text"{% if type == 'text' %} selected{% endif %}>{{ text_text }}</option>
                    <option value="textarea"{% if type == 'textarea' %} selected{% endif %}>{{ text_textarea }}</option>
                  </optgroup>
                  <optgroup label="{{ text_file }}">
                    <option value="file"{% if type == 'file' %} selected{% endif %}>{{ text_file }}</option>
                  </optgroup>
                  <optgroup label="{{ text_date }}">
                    <option value="date"{% if type == 'date' %} selected{% endif %}>{{ text_date }}</option>
                    <option value="time"{% if type == 'time' %} selected{% endif %}>{{ text_time }}</option>
                    <option value="datetime"{% if type == 'datetime' %} selected{% endif %}>{{ text_datetime }}</option>
                  </optgroup>
                </select>
              </div>
            </div>
        
              <div class="container mt-5">
                <div class="alert alert-warning" role="alert">
             {{options_form_information}}
                </div>
           
        
            </div>
          </fieldset>
          <fieldset>
            <legend>{{ text_value }}</legend>
            <table id="option-value" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td class="text-start required">{{ entry_option_value }}</td>
                  <td  style="width: 100px;" class="text-center">{{ entry_image }}</td>
                  <td style="width: 100px;" class="text-end">{{ entry_sort_order }}</td>
                  <td></td>
                </tr>
              </thead>
              <tbody class="listWithHandle">
                
                {% set option_value_row = 0 %}

                {% for option in options %}
                  {% if option.option_n == option_value_row %}
                    <tr id="option-value-row-{{ option_value_row }}">
                      <td class="text-center">
                        <input type="hidden" name="option_value[{{ option_value_row }}][option_value_id]" value="{{ option.option_value_id }}"/>
                        {% for language in languages %}
                          {% set found_language = false %}
                          {% for option_language in options %}
                            {% if option_language.option_n == option_value_row and option_language.language_id == language.language_id %}
                              {% set found_language = true %}
                              <div class="input-group">
                                <div class="input-group-text"><img src="{{ language.image }}" title="{{ language.name }}"/></div>
                                <input type="text" name="option_value[{{ option_value_row }}][option_value_description][{{ language.language_id }}][name]" value="{{ option_language.name }}" placeholder="{{ entry_option_value }}" id="input-option-value-{{ option_value_row }}-{{ language.language_id }}" class="form-control"/>
                              </div>
                              <div id="error-option-value-{{ option_value_row }}-{{ language.language_id }}" class="invalid-feedback"></div>
                            {% endif %}
                          {% endfor %}
                      
                        {% endfor %}
                      </td>
              
 
                
                            <td class="text-center">
                      <div class="card image">
                        <img src="/image/{{ option.image }}" alt="" title="" id="thumb-image-{{ option_value_row }}" data-oc-placeholder="{{ placeholder }}" class="card-img-top"/> <input type="hidden" name="option_value[{{ option_value_row }}][image]" value="{{ option.image }}" id="input-image-{{ option_value_row }}"/>
                        <div class="card-body">
                          <button type="button" data-oc-toggle="image" data-oc-target="#input-image-{{ option_value_row }}" data-oc-thumb="#thumb-image-{{ option_value_row }}" class="btn btn-primary btn-sm btn-block"><i class="fa-solid fa-pencil"></i> {{ button_edit }}</button>
                          <button type="button" data-oc-toggle="clear" data-oc-target="#input-image-{{ option_value_row }}" data-oc-thumb="#thumb-image-{{ option_value_row }}" class="btn btn-warning btn-sm btn-block"><i class="fa-regular fa-trash-can"></i> {{ button_clear }}</button>
                        </div>
                      </div>
                    </td>
                    <td class="text-end">
                      
                      <span class="my-handle" aria-hidden="true">
                        <i class="fa-solid mx-2 fa-grip-vertical"></i>
                      </span>
                      <input type="hidden" name="option_value[{{ option_value_row }}][sort_order]" value="{{ option.option_n }}" placeholder="{{ entry_sort_order }}" class="form-control"/></td>
                    <td class="text-end"><button type="button"  data-row="{{option_value_row}}" data-bs-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa-solid fa-minus-circle"></i></button></td>
              
                  </tr>
                    {% set option_value_row = option_value_row + 1 %}
                  {% endif %}
                {% endfor %}
                
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="3"></td>
                  <td class="text-end"><button type="button" onclick="addOptionValue();" data-bs-toggle="tooltip" title="{{ button_option_value_add }}" class="btn btn-primary"><i class="fa-solid fa-plus-circle"></i></button></td>
                </tr>
              </tfoot>
            </table>
          </fieldset>
          <input type="hidden" name="option_id" value="{{ option_id }}" id="input-option-id"/>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--


  $('.btn-danger').on('click', function() {
    $("#option-value").append('<input type="hidden" value="1" name="option_value[' + $(this).data('row') + '][delete]" />');
    $('#option-value-row-' +  $(this).data('row') ).remove();
   
  });
$('#input-type').on('change', function() {
    if (this.value == 'select' || this.value == 'radio' || this.value == 'checkbox' || this.value == 'image') {
        $('#option-value').parent().show();
    } else {
        $('#option-value').parent().hide();
    }
});

$('#input-type').trigger('change');

var option_value_row = {{ option_value_row }};


function addOptionValue() {
    html = '<tr id="option-value-row-' + option_value_row + '">';
    html += '  <td class="text-start"><input type="hidden" name="option_value[' + option_value_row + '][option_value_id]" value="" />';
  {% for language in languages %}
    html += '    <div class="input-group">';
    html += '      <div class="input-group-text"><img src="{{ language.image|escape('js') }}" title="{{ language.name|escape('js') }}" /></div>';
    html += '      <input type="text" name="option_value[' + option_value_row + '][option_value_description][{{ language.language_id }}][name]" value="" placeholder="{{ entry_option_value|escape('js') }}" id="input-option-value-' + option_value_row + '-{{ language.language_id }}" class="form-control"/>';
    html += '    </div>';
    html += '    <div id="error-option-value-' + option_value_row + '-{{ language.language_id }}" class="invalid-feedback"></div>';
  {% endfor %}
    html += '  </td>';
    html += '  <td class="text-center">';
    html += '    <div class="card image">';
    html += '      <img src=" " alt="" title="" id="thumb-image-' + option_value_row + '" data-oc-placeholder="{{ placeholder|escape('js') }}" class="card-img-top"/>';
    html += '      <input type="hidden" name="option_value[' + option_value_row + '][image]" value="" id="input-image-' + option_value_row + '"/>';
    html += '      <div class="card-body">';
    html += '        <button type="button" data-oc-toggle="image" data-oc-target="#input-image-' + option_value_row + '" data-oc-thumb="#thumb-image-' + option_value_row + '" class="btn btn-primary btn-sm btn-block"><i class="fa-solid fa-pencil"></i> {{ button_edit|escape('js') }}</button>';
    html += '        <button type="button" data-oc-toggle="clear" data-oc-target="#input-image-' + option_value_row + '" data-oc-thumb="#thumb-image-' + option_value_row + '" class="btn btn-warning btn-sm btn-block"><i class="fa-regular fa-trash-can"></i> {{ button_clear|escape('js') }}</button>';
    html += '      </div>';
    html += '    </div>';
    html += '  </td>';
    html += '  <td class="text-end">   <span class="my-handle" aria-hidden="true"> <i class="fa-solid mx-2 fa-grip-vertical"></i> </span><input type="hidden" name="option_value[' + option_value_row + '][sort_order]" value="" placeholder="{{ entry_sort_order|escape('js') }}" class="form-control"/></td>';
    html += '  <td class="text-end"><button type="button" onclick="$(\'#option-value-row-' + option_value_row + '\').remove();" data-bs-toggle="tooltip" title="{{ button_remove|escape('js') }}" class="btn btn-danger"><i class="fa-solid fa-minus-circle"></i></button></td>';
    html += '</tr>';

    $('#option-value tbody').append(html);

    option_value_row++;
    handleSortEnd();
}




function initializeSortables() {
		$('.listWithHandle').each(function () {
			// Check if Sortable instance already exists
			if (!$(this).data('sortable')) {
				// Create Sortable instance
				Sortable.create(this, {
					handle: '.my-handle',
					animation: 150,
					onEnd: function (event) {
						// Update the values after sorting is complete
						handleSortEnd();
					}
				});
			}
		});
	}
  initializeSortables();

	function handleSortEnd() {
  
  
    $('#option-value').find('tr').each(function (index) {
      $(this).find('input[name^="option_value"][name$="[sort_order]"]').val(index - 1);
		 
   
		});
 
	}



 // Get all the rows inside the table body
 var rows = $('tbody > tr');

// Sort the rows based on the input value in the last column
rows.sort(function (a, b) {
    var aValue = parseInt($(a).find('input[name^="option_value["][name$="][sort_order]"]').val());
    var bValue = parseInt($(b).find('input[name^="option_value["][name$="][sort_order]"]').val());
    
    // Compare the values for sorting
    return aValue - bValue;
});

// Append the sorted rows back to the table body
$('tbody').append(rows);
$('.btn-warning').on('click', function () {
        // Extract the value of the "data-oc-thumb" attribute
        var thumbSrc = $(this).data('oc-thumb');
 
        $(thumbSrc).attr('src', '');
        handleSortEnd();
 
    });
    
//--></script>
{{ footer }} 