<form id="form-product" method="post" data-oc-toggle="ajax" data-oc-load="{{ action }}" data-oc-target="#product">
  {% if products %}
    {% for product in products %}
      <div class="row mb-3">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-12 col-lg-1">
                  <input type="checkbox" name="selected[]" value="{{ product.product_id }}" class="form-check-input">
                </div>
                <div class="col-12 col-lg-1 text-start">
                  {% if product.image ends with '.avi' or product.image ends with '.mp4' or product.image ends with '.mkv' %}
                    <video class="img-thumbnail" style="width: 40px; height: 40px;">
                        <source src="{{ product.image }}" type="video/{{ product.image|split('.')|last }}">
                        Your browser does not support the video tag.
                    </video>
                  {% else %}
                    <img src="{{ product.image }}" alt="{{ product.name }}" class="img-thumbnail">
                  {% endif %}
                </div>
                <div class="col-12 col-lg-3">
                  <a href="{{ sort_name }}" {% if sort == 'pd.name' %} class="{{ order|lower }}"{% endif %}>
                    {{ product.name }}
                  </a>
                  <br>
                  {% if product.status %}
                    <small class="text-success">{{ text_enabled }}</small>
                  {% else %}
                    <small class="text-danger">{{ text_disabled }}</small>
                  {% endif %}
                </div>
                <div class="col-12 col-lg-2  d-lg-block">{{ product.model }}</div>
                <div class="col-12 col-lg-2 text-end">
                  {% if product.special %}
                    <span style="text-decoration: line-through;">{{ product.price }}</span>
                    <br>
                    <div class="text-danger">{{ product.special }}</div>
                  {% else %}
                    {{ product.price }}
                  {% endif %}
                </div>
                <div class="col-12 col-lg-1 mb-2 text-end">
                  {% if product.quantity <= 0 %}
                    <span class="badge bg-warning">{{ product.quantity }}</span>
                  {% elseif product.quantity <= 5 %}
                    <span class="badge bg-danger">{{ product.quantity }}</span>
                  {% else %}
                    <span class="badge bg-success">{{ product.quantity }}</span>
                  {% endif %}
                </div>
                <div class="col-12 col-lg-2 col-md-12 text-end">
                  {% if product.variant %}
                    <div class="btn-group">
                      <a href="{{ product.edit }}" data-bs-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa-solid fa-pencil"></i></a>
                    </div>
                  {% else %}
                    <a href="{{ product.edit }}" data-bs-toggle="tooltip" title="{{ button_edit }}" class="btn btn-warning"><i class="fa-solid fa-pencil"></i></a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="row">
      <div class="col text-center">{{ text_no_results }}</div>
    </div>
  {% endif %}
  <div class="row">
    <div class="col-sm-6 text-start">{{ pagination }}</div>
    <div class="col-sm-6 text-end">{{ results }}</div>
  </div>
</form>
